version: '3'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app # ローカルの現在のディレクトリをコンテナの/appにマウント
      - /app/node_modules # node_modulesはコンテナ内で独立して管理
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true